/* 共通 */
* {
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
li {
    list-style: none;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    width: 100%;
    height: 100%;
    background: lightblue;
}
/*------------------- top.blade.php -------------------- */
/* header */
header {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff8178;
}
.header-right {
    border-bottom: none;
}

/* main */
main {
    width: 100%;
    height: 50rem;
    flex-direction: column;
}
.main_img {
    height: 5rem;
    margin: 1rem;
}
.search_text {
    width: 20rem;
    height: 3rem;
    font-size: 1.4rem;
}
.submit {
    width: 4rem;
    height: 3rem;
}

.main_box {
    flex-direction: column;
}
/*-------------- resulut.blade.php ----------------*/
/* header */
h1 {
    margin-left: 2rem;
}
.back_btn {
    width: 5rem;
    height: 50%;
    margin: 1rem;
    background-color: white;
}
.back_btn a {
    color: black;
}
/* main */
.search_words {
    width: 60%;
    height: 6rem;
    margin: 1rem auto;
    background-color: #38ca09;
}
.search_word {
    font-size: 1.3rem;
}
.search_address{
    margin-left: 2rem;
}
.search_detail {
    margin: 2rem;
}
.search_detail span {
    font-size: 1.5rem;
    font-weight: bold;
}
ul {
    border-bottom: 1px solid red;
    margin-bottom: 3rem;
}
.back_btn {
    width: 5rem;
    height: 2rem;
    background-color: white;
}
form {
    height: 4rem;
}
.shop_details {
    font-weight: bold;
}
/*------------------------------ レスポンシブ ------------------------------------*/
@media screen and (max-width: 370px) {
/*--------------- top.blade.php---------------- */
/* main */
main {
    height: 50rem;
}
.main_box {
    flex-direction: column;
}

form {
    height: 4rem;
}
.search_text {
    width: 14rem;
}
.submit {
    width: 4rem;
    height: 3rem;
}

/*-------------- resulut.blade.php ----------------*/
    /* header */
    h1 {
        font-size: 1.5rem;
        margin-left: 1rem;
    }
    /* main */
    .search_words {
        width: 95%;
        height: 6rem;
        margin: 1rem auto;
        background-color: #38ca09;

    }
    .search_word{
        font-size: 1.3rem;
        margin-top: 1rem;
    }
    .search_detail {
        flex-direction: column;
        margin: 1rem;
    }
    .search_detail span {
        font-size: 1.1rem;
    }
    .back_btn {
        height: 50%;
        margin: 1rem;
    }
    .back_btn a {
        color: black;
    }
    .shop_details {
        font-size: 1.2rem;
    }
}
/*------------------- レスポンシブ ------------------*/
